@font-face {
    font-family: 'BPG Nino Mtavruli';
    src: url("../../fonts/bpg-nino-mtavruli-webfont.woff2") format('woff2');
}

@font-face {
    font-family: 'Noto Sans Georgian';
    src: url("../../fonts/NotoSansGeorgian-VariableFont_wdth\,wght.ttf") format('truetype');
}