@mixin flex-spaceBetween {
    display: flex;
    justify-content: space-between;
}

@mixin container {
    padding: 20px;
    background-color: rgba(61, 105, 150, 0.1);
    border-radius: 20px;
}

@mixin container-h($container-h-fs){
    font-family: $font-Nino-Mtavruli;
    font-weight: 700;
    font-size: $container-h-fs;
    color: white;
    @if($container-h-fs == 64px) {
        @include laptop {
            line-height: 58px;
            font-size: 54px;
        }

        @include break(1360px) {
            line-height: 46px;
            font-size: 40px;
        }  

        @include break(1100px) {
            line-height: 36px;
            font-size: 28px;
        }  
    }

    @if($container-h-fs == 40px) {
        @include laptop {
            font-size: 34px;
        }
        @include break(1300px) {
            font-size: 28px;
        }
    }

    @if($container-h-fs == 36px) {
        @include laptop {
            font-size: 27px;
        }
        @include break(1300px) {
            font-size: 24px;
        }
        @include break(1100px) {
            font-size: 20px;
        }

        @include break(960px) {
            font-size: 16px;
        }
    }

    @if($container-h-fs == 32px) {
        @include laptop {
            font-size: 23px;
        }
        @include break(1100px) {
            font-size: 18px;
        }
    }
}

@mixin container-p($container-p-lineHeight){
    font-size: $fz-xl;
    line-height: $container-p-lineHeight;
    color: #fff;
    font-family: $font-Noto;
    font-weight: 400;
    @include laptop {
        font-size: 18px;
    }
    @include break(1100px) {
        font-size: 15px;
    }  
    @include break(960px) {
        font-size: 14px;
    }  
}

@mixin container-p2($container-p-lineHeight){
    font-size: $fz-l;
    line-height: $container-p-lineHeight;
    color: #fff;
    font-family: $font-Noto;
    font-weight: 400;

    @include laptop {
        font-size: 15px;
        line-height: 28px;
    }
    @include break(1100px) {
        font-size: 13px;
        line-height: 24px;
    }
}

@mixin btn($btn-margin){
    cursor: pointer;
    width: 240px;
    height: 64px;
    margin: $btn-margin;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    background: -webkit-linear-gradient(90deg, #B9F272 -15%, #83F45E 126.67%);
    font-family: 'Noto Sans Georgian', sans-serif;
    font-weight: 700;

    @include laptop {
        width: 180px;
        height: 56px;
        font-size: 17px;
    }
    @include break(1100px) {
        width: 160px;
        height: 47px;
        font-size: 15px;
    }
}

@mixin figure(){
    position: absolute;
    @include laptop {
        width: 500px;
    }
    @include break(1100px) {
        width: 400px;
    }
}

