$padding-section: 200px;
$bg-color: #1D1D1D;
$font-Nino-Mtavruli: "BPG Nino Mtavruli", sans-serif;
$font-Noto: 'Noto Sans Georgian', sans-serif;
$fz-l: 20px;
$fz-xl: 24px;

$green: #95F364;
$transition: .3s;
$padding-top: 250px;