*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html{
  scroll-behavior: smooth;
}

@import './mixin';
@import './variables';
@import './font';
@import './components/header';
@import './components/main';
@import './components/footer';
