.header {
    position: fixed;
    width: 100%;
    height: 140px;
    background-color: $bg-color;
    padding-inline: var(--padding-section);
    align-items: center;
    @include flex-spaceBetween;
    z-index: 999;

    @include laptop {
        height: 120px;
    }

    @include break(1100px) {
        height: 100px;
    }

    @include tablet {
        height: 80px;
    }

    .images {
        img {
            @include laptop {
                height: 56px;
            }

            @include break(1100px) {
                height: 52px;
            }

            @include tablet {
                height: 48px;
            }
        }

        .uniLabImage {
            margin-right: 32px;

            @include laptop {
                margin-right: 25px;
            }

            @include break(1100px) {
                margin-right: 15px;
            }
        }
    }

    .nav {
        @include tablet {
            display: none;
        }
        ul {
            display: flex;
            column-gap: 54px;

            @include break(1100px) {
                column-gap: 36px;
            }

            a {
                font-family: $font-Nino-Mtavruli;
                font-weight: 700;
                font-size: $fz-l;

                @include laptop {
                    font-size: 17px;
                }

                @include break(1100px) {
                    font-size: 13px;
                }

                @include tablet {
                    font-size: 12px;
                }

                color: #FFFFFF;
                position: relative;
                transition: $transition;

                &::before {
                    content: '';
                    position: absolute;
                    width: 0;
                    height: 3px;
                    bottom: -5px;
                    background-color: $green;
                    transition: $transition;

                    @include laptop {
                        height: 2px;
                    }
                }

                &:hover {
                    color: $green;

                    &::before {
                        width: 70%;
                    }
                }

            }
        }
    }
    .openNavbar {
        display: none;
        @include tablet {
            cursor: pointer;
            display: block;
        }
    }
}