.discovery{
    padding-inline: 130px;
    padding-top: 175px;

    .discoveryContent{
        @include flex-spaceBetween;

        .discoveryNews{
            max-width: 870px;
            @include container;

            h2{
                line-height: 74px;
                @include container-h2(64px);

                span{
                    background: -webkit-linear-gradient(90deg, #B9F272 -15%, #83F45E 126.67%);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
            div {
                margin-right: 65px;
                margin-top: 40px;
                p{
                    @include container-p(34px);
                }
            }
            .discoveryBtn {
                @include btn(96px 0 84px 0);
            }
        }
    }
}


.whoAmI{
    padding-top: 250px;
    padding-inline: $padding-section;
    .whoAmI-content{
        @include flex-spaceBetween;
        position: relative;

        .figure1{
            position: absolute;
            right: 0;
            top: -120px;
        }

        .figure2{
            @include figure(-120px);
            left: 0;
        }

        .whoAmI-text{
            width: 890px;
            @include container;
            h2{
                margin-bottom: 80px;
                @include container-h2(40px);
            }
            p{
                @include container-p(48px);                
            }
            .whoAmIBtn{
                @include btn(64px 0px 0px 0px);
            }
        }
    }
}


.profile{
    padding-top: 250px;
    padding-inline: $padding-section;

    .profileContent{
        position: relative;
        @include flex-spaceBetween;
        .profileText{
            @include container;
            width: 610px;
            .profileObject{
                display: flex;
                flex-direction: column;
                row-gap: 50px;
                div{
                    display: flex;
                    align-items: center;
                    column-gap: 10px;
                }
                p{
                    color: #fff;
                    font-family: "BPG Nino Mtavruli", sans-serif;
                    font-size: 24px;
                    span{
                        background: linear-gradient(51.51deg, #24E9A6 72.15%, rgba(14, 188, 218, 0) 94.84%),
                                    linear-gradient(83.28deg, #24E9A6 61.73%, rgba(14, 188, 218, 0) 75.83%),
                                    linear-gradient(43.2deg, #24E9A6 75.79%, rgba(14, 188, 218, 0) 115.95%),
                                    linear-gradient(53.52deg, #24E9A6 71.26%, rgba(14, 188, 218, 0) 124.78%),
                                    linear-gradient(301.18deg, #24E9A6 68.85%, rgba(14, 188, 218, 0) 98.71%),
                                    linear-gradient(52.15deg, #24E9A6 71.86%, rgba(14, 188, 218, 0) 138.89%),
                                    linear-gradient(53.32deg, #B9F272 71.34%, rgba(131, 244, 94, 0) 104.75%),
                                    linear-gradient(0deg, #FFFFFF, #FFFFFF);
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        font-family: "BPG Nino Mtavruli", sans-serif;
                    }
                }
            }
            h2{
                @include container-h2(40px);
                margin-bottom: 37px;
                margin-left: 25px;
            }
        }
        .figure3{
            @include figure(-120px);
        }
    }
}
